# This is Git's per-user configuration file.
[user]
name = Mateusz Kozak
email = 19314272+matkozak@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper =
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
